@media (min-width: 550px) {
    .smallDisplay {
        display: none;
    }
}

@media (max-width: 550px) {
    .largeDisplay {
        display: none;
    }
}

@media (min-width: 1025px) {
    .carousel-smallDisplay {
        display: none;
    } 
}

@media (max-width: 1024px) {
    .carousel-largeDisplay {
        display: none;
    }
}

iframe {
    width: 100%;
}