@media (min-width: 550px) {
    .smallDisplay {
        display: none;
    }
    
    /* If we only want to limit the height of carousel for bigger screens. See more below */
    /* .carousel .slide img {
        max-height: 30vmax; 
        width: auto;
    } */
 }

 @media (max-width: 550px) {
    .largeDisplay {
        display: none;
    }
 }

iframe {
    width: 100%;
}


/* METHOD 1:
    Since the images are too big on laptop and desktop screens, this limits the max height to be a ratio of the viewport making all 
    images the same height. Setting width:0 adds black to both side of the image and keeps the aspect ratio the same
    while not declaring width streteches the image to fill the width. Can also just be applied to larger screens insdie the media query above. */

/* 
.carousel .slide img {
    max-height: 30vmax; 
    width: auto;
}  */



/* METHOD 2:
    The first two below are a part of the background-image method. For our setup, I needed to put the image in html(since the carousel's 
    height is determined by it's content) and make opacity of images 0 to properly use the background method.
    See the bottom of HomePage.js for more info */

/*.carousel-wrapper,
.carousel,
.carousel > .slider-wrapper,
.carousel > .slider-wrapper > .slider {
  height: 100%;
} */

/* .image-container {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* 
.carousel .slide img {
    max-height: 30vmax; 
    opacity: 0
} */