@media (min-width: 550px) {
    .smallDisplay {
        display: none;
    }
    .carousel .slide img {
        max-height: 30vmax; 
        width: cover;
    }
    .carousel-smallDisplay {
        display: none;
    }
 }

 @media (max-width: 550px) {
    .largeDisplay {
        display: none;
    }
    .carousel-largeDisplay {
        display: none;
    }
 }

iframe {
    width: 100%;
}